    body {
       background-color: beige;
     }
     h1 {
       color:blue;
       text-align: center;
     }
     p {
       font-family: "Montserrat", serif;
       font-size: 32px;
     }
     ul {
       font-family: "Montserrat", serif;
       font-size: 27px;
       text-align: left;
       margin-bottom: 50px
      }
     img { 
      border-radius: 10px;
      margin-bottom: 40px
    }
      table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 35px;
  }
    a:hover {
  color: green;
}
